{% block form_errors %}
    {% for error in errors %}
        <div class="alert alert-danger">
            <i class="fa fa-warning"></i> {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        </div>
    {% endfor %}
{% endblock form_errors %}