[build]
publish = "public"
command = "yarn build:hugo"

[build.environment]
HUGO_VERSION = "0.135.0"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"
HUGO_EXTENDED = "true"

[[redirects]]
  from = "/cgv"
  to = "/conditions-generales-de-vente"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404

[[redirects]]
  from = "/realisations/*"
  to = "/#portfolio/:splat"
  status = 301
  force = true

[[headers]]
  for = "/build/*"
  [headers.values]
	cache-control = '''
	max-age=31536000,
	public,
	immutable'''
