<div id="header_wrapper">
    <div class="container" id="about">        
        <div class="row">
            <div class="col-md-6" >
                <div id="top_logo" class="text-left">
                    <h1><span itemprop="name">Guillaume Sainthillier</span></h1>
                </div>
            </div>
            <div class="col-md-6">
                <div id="top_download" class="text-right">
                    <a rel="me" itemprop="url" href="{{ app.request.uriForPath('/pdf/CV_SAINTHILLIER_Guillaume.pdf') }}" target="_blank">Téléchargez mon CV</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 presentation">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="{{ app.request.uriForPath('/img/guillaume_sainthillier.png') }}" class="img-rounded img-responsive main_image" height="177"  width="177"  itemprop="image" alt="Guillaume Sainthillier">
                    </div>
                    <div class="col-xs-9">
                        <h3><span itemprop="jobTitle">Développeur Web PHP</span> Toulouse</h3>
                        <p> Actuellement étudiant en <a title="Aller sur le site du Master ICE" href="http://mathsinfo.univ-tlse2.fr/accueil/formations/master-ice/">Informatique Collaborative en Entreprise</a> dans le cadre d'une alternance au sein du <a title="Aller sur le site du CCMM" href="http://www.chu-toulouse.fr/-centre-de-consultation-medicale-">Centre de Consultation Médicale Maritime</a> au CHU de Purpan à Toulouse, je me spécialise dans le domaine du développement Web et logiciel.</p>
                        <p>Je cherche à travailler dans une entreprise résolument tournée vers les technologies innovantes, et m'intégrer au sein d'une équipe dynamique et passionnée.</p>
                        <p><span class="signature">Guillaume Sainthillier</span></p>       
                    </div>
                </div>
            </div>
            <div class="col-md-5 about_links">
                <div class="row">
                    <div class="col-lg-11 col-lg-offset-1">
                        {% include "GuyBlogBundle:Blocks:block_socials.html.twig" %}
                        <div class="row">                            
                            <div class="col-xs-6">
                                <div class="about_link">
                                    <i class="fa fa-2x fa-phone"></i> 
                                    <span class="tel-nospam">...<span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="about_link">
                                    <i class="fa fa-2x fa-globe"></i> 
                                    <a rel="me" itemprop="url" href="http://sainthillier.fr">sainthillier.fr</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="about_link" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <meta itemprop="streetAddress" content="26 Rue Bernard Ortet" >
                                    <meta itemprop="postalCode" content="31500" >
                                    <i class="fa fa-2x fa-map-marker"></i> 
                                    <span itemprop="addressLocality">Toulouse</span>,<span itemprop="addressCountry">France</span>
                                </div>
                            </div>                            
                            <div class="col-xs-6">
                                <div class="about_link">
                                    <i class="fa fa-2x fa-envelope"></i> 
                                    <a href="#" class="email-nospam mailto" data-subject="Rencontrons-nous !">...</a>
                                </div>
                            </div>
                            
                            <div class="col-xs-12">
                                <div class="about_link">
                                    <i class="fa fa-2x fa-university"></i> Disponibilité : <span class="label label-primary">Septembre 2015</span>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>