{% set liens_icones = [
    {'icon': 'fa-linkedin', 'link': 'https://www.linkedin.com/profile/view?id=256300872&trk=tab_pro' },
    {'icon': 'fa-vine', 'link': 'http://www.viadeo.com/profile/0024dwstfu32pr3/' },
    {'icon': 'fa-github-alt', 'link': 'https://github.com/guillaume-sainthillier' },
] %}

<div class="text-center socials">
{% for lien in liens_icones %}
    <a rel="me" itemprop="url" href="{{ lien.link }}" class="fa-stack icon_link">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="icon fa {{ lien.icon }} fa-stack-1x"></i>
    </a>    
{% endfor %}
</div>