<div id="map" class="map">Bernard Ortet, 31500 Toulouse, France</div>
<div class="contact">
    <div class="container">
        <section class="row" id="contact">
            <aside class="col-sm-3 aside_el">
                <h2>Contact</h2>
                <h5>Laissez-moi un message</h5>
            </aside>
            <div class="col-sm-9 borderleft">
                {% include "GuyBlogBundle:Contact:form.html.twig" with({'contact_form': contact_form}) %}
            </div>            
        </section>
    </div>        
</div>