<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-right text_footer">
                <a href="{{ path('guy_cv') }}">Guillaume Sainthillier {{ 'now'|date('Y') }}</a>
            </div>	
            <div class="col-xs-6">     
                {% include "GuyBlogBundle:Blocks:block_socials.html.twig" %}
            </div>
            {% block footer %}
            {% endblock %}
        </div>                
    </div>                
</footer>