{% extends "GuyAdminBundle:Realisation:base.html.twig" %}

{% block guy_admin_titre_realisation %}Nouvelle{% endblock %}

{% block boutton %}
    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter</button>
{% endblock %}
