// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

//BS Overrides
$primary: #fed136 !default;

$text-muted: $gray-600;
$enable-shadows: false;
$headings-font-weight: 700;
$btn-font-weight: 700;
$badge-padding-x: 0.5em;
$badge-padding-y: 0.4em;
$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

$font-family-sans-serif: 'Google Sans', sans-serif;
