.layout-page {
    em {
        color: $gray-600;
    }

    #mainNav {
        background-color: $gray-900;
    }

    h2 {
        margin-top: 2.5rem;
    }

    section p {
        text-align: justify;
    }
}
