// Styling for the contact section
section#contact {
    ul li {
        @apply mb-4;

        .icon {
            @apply float-left text-primary;
            line-height: 1.5;
        }

        span {
            @apply block pl-6;
        }
    }

    .form-group {
        @apply mb-6;

        input,
        textarea {
            @apply p-5;
        }

        input.form-control {
            @apply h-auto;
        }

        textarea.form-control {
            height: 248px;
        }
    }

    .form-control {
        @apply w-full border border-gray-300 rounded px-3 py-2 focus:outline-none transition-colors;

        &:focus {
            @apply border-primary shadow-none;
        }
    }

    .invalid-feedback {
        @apply text-red-600 text-sm mt-1;
    }

    ::-webkit-input-placeholder {
        @apply font-bold text-gray-400;
        @include heading-font;
    }

    :-moz-placeholder {
        @apply font-bold text-gray-400;
        @include heading-font;
    }

    ::-moz-placeholder {
        @apply font-bold text-gray-400;
        @include heading-font;
    }

    :-ms-input-placeholder {
        @apply font-bold text-gray-400;
        @include heading-font;
    }
}
