// Styling for the navbar
#mainNav {
    @apply bg-gray-900 py-4;

    .navbar-toggler {
        @apply text-xs py-3 px-4 uppercase text-white border-0 bg-primary rounded;
        @include heading-font;
    }

    .navbar-brand {
        @apply transition-all duration-300;
        max-width: 150px;
    }

    .navbar-collapse {
        @apply gap-4;

        &.active {
            @apply flex;
        }
    }

    .nav-item {
        @apply my-2 lg:my-0;

        .nav-link {
            @apply text-sm font-normal py-3 lg:px-4 text-white transition-colors;
            letter-spacing: 1px;
            @include heading-font;

            &.active,
            &:hover {
                @apply text-primary;
            }
        }
    }

    .btn-outline-primary {
        @apply uppercase ml-0 lg:ml-4;
    }
}

@media (min-width: 1024px) {
    #mainNav {
        @apply py-6 bg-transparent border-0;
        transition: padding 0.3s, background-color 0.3s;

        .navbar-brand {
            max-width: 250px;
        }

        .nav-item {
            .nav-link {
                @apply py-4 px-4;
            }
        }

        &.navbar-shrink {
            @apply py-0 bg-gray-900;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);

            .navbar-brand {
                @apply py-3;
                max-width: 175px;
            }
        }
    }
}
