// Styling for the navbar
#mainNav {
    background-color: $gray-900;

    .navbar-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: white;
        border: 0;
        background-color: $primary;
        @include heading-font;
    }

    .navbar-brand {
        max-width: 150px;
        transition:
            max-width 0.3s,
            padding 0.3s;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 90%;
                font-weight: 400;
                padding: 0.75em 0;
                letter-spacing: 1px;
                color: white;
                @include heading-font;
                &.active,
                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .btn {
        text-transform: uppercase;
    }
}
@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition:
            padding-top 0.3s,
            padding-bottom 0.3s;
        border: none;
        background-color: transparent;
        .navbar-brand {
            max-width: 250px;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 1.1em 1em !important;
                }
            }
        }
        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: $gray-900;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
            .navbar-brand {
                max-width: 175px;
                padding: 12px 0;
            }
        }
    }
}
