// Styling for the services section
.service-heading {
    margin-bottom: 1rem;
    text-transform: none;
}

.service-contact {
    margin-top: 3rem;
}

#services .service {
    max-width: 1140px;
    margin: 2em auto 0 auto;

    &:first-child {
        margin-top: 0;
    }
}

#services ul li {
    .icon {
        float: left;
        color: $primary;
        line-height: 1.75;
    }

    p {
        display: block;
        padding-left: 1.5rem;
    }

    &:last-child p {
        margin-bottom: 0;
    }
}

#services .card {
    border: none;
    border-radius: 0;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}
