{{- define "page-id" -}}page-home{{- end -}}
{{ define "main" }}
<!-- Header -->
{{ $headerImg := resources.Get "images/header-bg.jpg" }}
{{ if $headerImg }}
{{ $headerImgResized := $headerImg.Fill "1900x1250" }}
{{ $headerImgWebP := $headerImgResized.Resize "1900x webp q10" | resources.Fingerprint "md5" }}
<header class="masthead" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('{{ $headerImgWebP.RelPermalink }}')">
<div class="masthead-content">
    <div class="container">
        <div class="intro-text">
            <h1 class="intro-lead-in">Développeur Web Freelance à Toulouse</h1>
            <div class="intro-heading uppercase">Donnez vie à vos projets Web</div>
            <a class="btn btn-primary btn-xl uppercase js-scroll-trigger" href="#hello">En savoir plus</a>
        </div>
    </div>
</div>
</header>
{{ end }}

<!-- About -->
<section id="hello" class="section bg-gray-100">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading uppercase">Développeur Freelance à Toulouse</h2>
            <h3 class="section-subheading text-muted">Bonjour, je suis Guillaume Sainthillier, développeur Web indépendant basé à Toulouse.</h3>
        </div>
        <lite-youtube class="mx-auto" videoid="JjeguKaXutw" playlabel="Développeur Web Freelance Toulouse"></lite-youtube>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6 mb-12">
            <div class="md:col-span-4 lg:col-span-3 flex items-center">
                {{ partial "responsive-image" (dict "src" "images/guillaume-sainthillier.jpg" "alt" "Concrétisez vos projets Web" "class" "max-w-full h-auto rounded-full block mx-auto" "width" 300 "height" 300 "priority" false) }}
            </div>
            <div class="md:col-span-8 lg:col-span-9">
                <h3 class="text-3xl mb-2">Besoin des services d'un développeur Web ?</h3>
                <p class="text-muted mb-4">Je suis spécialisé dans le domaine du développement d'<strong>applications Web
                    sur mesure</strong> pour votre activité, principalement avec le framework PHP Symfony.</p>
                <p class="text-muted mb-4">Expérimenté depuis 2013 et freelance depuis 2018, j'ai travaillé pour divers secteurs
                    d'activités : collectivités locales, santé, secteur public, ressources humaines, industrie, aéronautique, communication, immobilier, assurances, ...</p>
                <p class="text-muted mb-4">Parce que l'informatique doit avant tout être une solution et non une contrainte, je développe des outils qui se démarquent par leur
                    <strong>valeur ajoutée pour votre activité.</strong></p>
                <p class="text-muted">Que vous soyez une petite entreprise, une start-up, un freelance, une association, une agence Web ou une entreprise côtée en bourse, contactez-moi
                    et voyons ensemble comment <strong>développer votre activité !</strong></p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-4 lg:col-span-3 md:order-2 flex items-center">
                {{ partial "responsive-image" (dict "src" "images/design.jpg" "alt" "Concrétisez vos projets Web" "class" "max-w-full h-auto rounded-full block mx-auto" "width" 300 "height" 300 "priority" false) }}
            </div>
            <div class="md:col-span-8 lg:col-span-9 md:order-1">
                <h3 class="text-3xl mb-2">Pourquoi opter pour un développeur Freelance ?</h3>
                <p class="text-muted mb-4">Vous avez un
                    <strong>interlocuteur unique</strong> dans toutes les phases de votre projet : définition du besoin, analyse, conception, réalisation, tests, déploiement et maintenance.
                </p>
                <p class="text-muted mb-4">Vous gagnez en
                    <strong>flexibilité</strong> par rapport à une société de service traditionnelle qui a souvent une inertie plus importante.
                </p>
                <p class="text-muted mb-4">En déléguant vos développements informatiques à un
                    <strong>freelance de confiance</strong>, vous pouvez focaliser vos efforts sur ce qui compte réellement pour votre business.
                </p>
                <p class="text-muted">Vous ne prenez pas de risques en travaillant avec un partenaire neutre qui garantit la
                    <strong>confidentialité</strong> de vos activités.</p>
            </div>
        </div>
        <div class="text-center mt-12">
            <a class="btn btn-primary btn-xl uppercase js-scroll-trigger" href="#contact">J'ai un projet</a>
        </div>
    </div>
</section>
<!-- Services -->
<section id="services" class="section bg-gray-100">
    <div class="container text-center">
        <h2 class="section-heading uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Votre besoin coche l'une de ces cases ? Contactez-moi !</h3>

        <div class="service text-left">
            <div class="card">
                <div class="card-body">
                    <h4 class="service-heading text-2xl">Développement d'applications Web</h4>
                    <ul class="list-none text-muted">
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Vous avez une idée de nouveau projet pour moderniser la gestion de votre métier.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Vous avez une idée de projet de site e-commerce nécessitant des fonctionnalités sur mesure.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Vous avez besoin de mettre à jour un projet existant mais votre partenaire actuel est parti ou ne vous donne plus entière satisfaction.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Votre Système d'Information a besoin d'applications métiers complexes et évoluées.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Vous avez vous-même développé votre projet et vous avez besoin d'aide sur les parties complexes.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="x" class="text-red-600"></i></span>
                            <p>Vous avez besoin d'un partenaire pour réaliser un site vitrine.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="x" class="text-red-600"></i></span>
                            <p>Vous cherchez un logo ou une identité visuelle.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="service text-left">
            <div class="card">
                <div class="card-body">
                    <h4 class="service-heading text-2xl">Expertise technique pour besoins avancés</h4>
                    <ul class="list-none text-muted">
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Mise à jour de version Symfony.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Intégration du protocole bancaire EBICS dans votre application.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Gestion de l'infrastructure serveur / cloud.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Mise en place d'intégration continue / déploiement continu.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Audit de sécurité / performances.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="x" class="text-red-600"></i></span>
                            <p>Développement de plugin Wordpress / Prestashop.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="service text-left">
            <div class="card">
                <div class="card-body">
                    <h4 class="service-heading text-2xl">Formation pour partager connaissance et passion</h4>
                    <ul class="list-none text-muted">
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>En entreprise, pour vos salariés.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>École de formation, pour vos apprenants.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Université, pour vos étudiants.</p>
                        </li>
                        <li>
                            <span class="icon"><i data-lucide="check" class="text-green-600"></i></span>
                            <p>Exemple de thèmes : PHP, Programmation Orientée Objet, Symfony, Doctrine, Docker, Base de données, HTML, CSS, Javascript, ...</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="service-contact">
            <a class="btn btn-primary btn-xl uppercase js-scroll-trigger" href="#contact">Contactez-moi</a>
        </div>
    </div>
</section>


<!-- Skills -->
<section id="competences" class="section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading uppercase">Compétences</h2>
            <h3 class="section-subheading text-muted">Axée autour de l'univers du Web, mon
                expertise se concentre principalement autour du langage PHP et du framework Symfony.</h3>
        </div>

        <div id="skills" data-skills="{{ .Params.skills | jsonify }}">
            <ul>
                {{ range $skill := .Params.skills }}
                <li><strong>{{ $skill.name }} à Toulouse</strong></li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>

<!-- Portfolio Grid -->
<section class="section bg-gray-100" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Un coup d'œil non exhaustif sur mes derniers travaux.</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
            {{ range $realisation := .Params.realisations }}
            {{ with $realisation }}
            <div>
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolio-modal-{{ .id }}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i data-lucide="plus" style="width: 3em; height: 3em"></i>
                            </div>
                        </div>
                        {{ partial "responsive-image" (dict "src" .image "alt" .nom "class" "max-w-full h-auto" "width" 400 "height" 300 "priority" false) }}
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="text-2xl">{{ .nom }}</h4>
                        <p class="text-muted"><strong>{{ .sous_titre }}</strong></p>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

{{ range $realisation := .Params.realisations }}
{{ with $realisation }}
<div class="portfolio-modal modal fade" id="portfolio-modal-{{ .id }}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="max-w-2xl mx-auto">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="uppercase">{{ .nom }}</h2>
                        <p class="item-intro text-muted">{{ .sous_titre }}</p>
                        {{ partial "responsive-image" (dict "src" .image "alt" .nom "class" "max-w-full h-auto block mx-auto" "width" 700 "height" 525 "priority" false) }}

                        <div class="modal-description">
                            {{ .description | safeHTML }}
                            <ul class="list-inline">
                                <li>Date : {{ .date }}</li>
                                <li>Technologies :
                                    {{ range $keyword := .keywords }}
                                    <span class="badge badge-secondary" title="Développeur {{ $keyword }} à Toulouse"><strong>{{ $keyword }}</strong></span>
                                    {{ end }}
                                </li>
                            </ul>
                        </div>
                        <div class="flex flex-row items-center justify-center gap-2">
                            {{ if isset . "url" }}
                            <a rel="noopener" href="{{ .url }}" class="btn btn-primary" target="_blank">
                                <i data-lucide="globe"></i>
                                &nbsp;Visiter
                            </a>
                            {{ end }}
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                <i data-lucide="x"></i>
                                &nbsp;Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}

<!-- About -->
<section id="parcours" class="section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading uppercase">Parcours</h2>
            <h3 class="section-subheading text-muted">Mes expériences avant de devenir Freelance Web à Toulouse.</h3>
        </div>
        <div>
            <ul class="timeline">
                {{ range $i, $experience := .Params.experiences | collections.Reverse }}
                {{ with $experience }}
                <li class="{{ cond (not (modBool $i 2)) "" "timeline-inverted" }}">
                <div class="timeline-image">
                    {{ partial "responsive-image" (dict "src" .logo "alt" (printf "Logo %s" .client) "class" "rounded-full max-w-full h-auto" "width" 170 "height" 170 "priority" false) }}
                </div>
                <div class="timeline-panel space-y-2">
                    <div class="timeline-heading space-y-2">
                        <h4 class="text-2xl">{{ .periode }}</h4>
                        <h4 class="subheading">{{ .client }}</h4>
                        <h5 class="text-muted">{{ .titre }}</h5>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">{{ .description }}</p>
                        {{ if .entreprise }}
                        <span class="text-muted">Via {{ .entreprise | safeHTML }}</span>
                        {{ end }}
                    </div>
                </div>
                </li>
                {{ end }}
                {{ end }}
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <a href="#contact" class="flex items-center h-full js-scroll-trigger">
                            <h4 class="text-lg">Rejoignez l'aventure !</h4>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Contact -->
<section class="section bg-gray-100" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading uppercase">Parlez-moi de vous</h2>
            <h3 class="section-subheading text-muted">Votre projet est trop complexe à décrire ?
                <a href="tel:+33607275826">appelez-moi directement.</a></h3>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-12 gap-6">
            <div class="xl:col-span-3">
                <ul class="list-none grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-1 gap-4">
                    <li>
                        <div class="icon"><i data-lucide="map-pin"></i></div>
                        <span class="text-muted">
                            SILARHI
                            <br />116 Route d'Espagne
                            <br />HELIOPOLIS 4, BAT 113
                            <br />BAL 411
                            <br />31100 Toulouse
                        </span>
                    </li>
                    <li>
                        <div class="mb-2">
                            <div class="icon"><i data-lucide="clock"></i></div>
                            <span class="text-muted">
                                Du lundi au vendredi
                                <br>De 9h à 19h30
                            </span>
                        </div>
                        <div class="mb-2">
                            <div class="icon"><i data-lucide="phone"></i></div>
                            <span class="text-muted">
                                <a href="tel:+33607275826">0 607.275.826</a>
                            </span>
                        </div>
                        <div class="mb-2">
                            <div class="icon"><i data-lucide="mail"></i></div>
                            <span class="text-muted">
                                <a href='&#109;ai&#108;to&#58;&#37;68ell&#37;6F&#64;si%&#54;Ca&#37;72hi&#46;f&#114;'>hello&#64;silar&#104;i&#46;&#102;r</a>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="xl:col-span-9">
                <form id="contactForm" class="needs-validation" action="https://formspree.io/xlepbonn" novalidate="novalidate">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <div class="form-group">
                                <input class="form-control"
                                       id="name"
                                       autocomplete="name"
                                       type="text"
                                       placeholder="Votre nom *"
                                       required>
                                <div class="invalid-feedback">
                                    Merci de renseigner votre nom.
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control"
                                       id="email"
                                       autocomplete="email"
                                       type="email"
                                       placeholder="Votre email *"
                                       required>
                                <div class="invalid-feedback">
                                    Merci de renseigner votre email.
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control"
                                       id="phone"
                                       autocomplete="tel"
                                       type="tel"
                                       placeholder="Votre téléphone *"
                                       required>
                                <div class="invalid-feedback">
                                    Merci de renseigner votre numéro de téléphone.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <textarea class="form-control"
                                          id="message"
                                          placeholder="Votre message *"
                                          required
                                          data-validation-required-message="Merci de renseigner votre message."></textarea>
                                <div class="invalid-feedback">
                                    Merci de renseigner votre message.
                                </div>
                            </div>
                        </div>
                        <div class="md:col-span-2 text-center">
                            <div id="success"></div>
                            <button id="sendMessageButton" class="btn btn-primary btn-xl uppercase" type="submit">
                                Envoyer le message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{ end }}
