{% extends "::base.html.twig" %}

{% block titre %}
    <span>M</span>entions Légales
{% endblock %}

{% block title %}
    Mentions Légales
{% endblock %}

{% block contenu %}
<!-- Page des mentions légales -->
<div class="mentions_legales">
    
<h3>1. Présentation de notre site web</h3>

<p>Conformément à la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans l'économie numérique, notre site web créé par <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">Guillaume SAINTHILLIER</a>, propriétaire du site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a>, met à disposition du public les informations concernant notre entreprise.<br />
Eventuellement modifiables, nous vous invitons donc à consulter nos mentions légales le plus souvent possible, de manière à en prendre connaissance fréquemment</p>

<p>Le site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> appartient à <strong>Guillaume SAINTHILLIER</strong> - particulier, dont le siège social est situé à l'adresse suivante : Toulouse, France.<br />
Personne physique ou morale, <strong>Guillaume SAINTHILLIER</strong> est responsable de la publication, dont l'adresse e-mail est la suivante : <a href="mailto:guillaume@sainthillier.fr">guillaume@sainthillier.fr</a><br />
Le webmaster, <strong>Guillaume SAINTHILLIER</strong>, est responsable de l'administration du site, dont l'adresse e-mail est la suivante : <a href="mailto:guillaume@sainthillier.fr">guillaume@sainthillier.fr</a>.<br />
Les mentions légales présentes sur ce site Internet ont été générées et offertes par <a href="http://www.g7design.fr" title="G7design | Web & Print Agency">l'agence de communication web G7design</a>, situé au 11 rue Parmentier à Nice, et rédigées par <a href="http://www.redacteur-contenu-web.com" title="Agence redacteur-contenu-web.com">Alexandre Montenon</a>, de l'agence <a href="http://www.redacteur-contenu-web.com">redacteur-contenu-web.com</a>.<br />
Le site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> est hébergé par <strong>OVH</strong>, dont le siège social est localisé à l'adresse suivante : 2 rue Kellermann - 59100 Roubaix - France..</p>

<h3>2. Conditions générales d’utilisation du site et des services proposés.</h3>

<p>En utilisant notre site web <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a>, vous acceptez pleinement et entièrement les conditions générales d'utilisation précisées dans nos mentions légales. Accessible à tout type de visiteurs, il est important de préciser toutefois qu'une interruption pour maintenance du site web peut-être décidée par <strong>Guillaume SAINTHILLIER</strong>. Les dates et heures d'interruptions seront néanmoins précisées à l'avance aux utilisateurs.</p>

<h3>3. Les produits ou services proposés par <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a></h3>

<p>En accord avec sa politique de communication, le site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> a pour vocation d'informer les utilisateurs sur les services proposés par <strong>Guillaume SAINTHILLIER</strong>, qui s'efforce alors de fournir des informations précises sur son activité. Cependant, des inexactitudes ou des omissions peuvent exister : la société ne pourra en aucun cas être tenue pour responsable pour toute erreur présente sur le site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a>.</p>

<h3>4.  Limitations contractuelles</h3>

<p>Les informations retranscrites sur notre site web <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> font l’objet de démarches qualitatives, en vue de nous assurer de leur fiabilité. Cependant, nous ne pourrons encourir de responsabilités en cas d’inexactitudes techniques lors de nos explications.<br />
Si vous constatez une erreur concernant des informations que nous auront pu omettre, n’hésitez pas à nous le signaler par mail à <a href="mailto:guillaume@sainthillier.fr">guillaume@sainthillier.fr</a>.</p>

<p>Les liens reliés directement ou indirectement à notre site web <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> ne sont pas sous le contrôle de notre société. Par conséquent, nous ne pouvons nous assurer de l’exactitude des informations présentes sur ces autres sites Internet.</p>

<p>Utilisant la technologie JavaScript, le site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> ne pourra être tenu pour responsable en cas de dommages matériels liés à son utilisation. Par ailleurs, toute autre type de conséquence liée à l'exploitation du site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a>, qu'elle soit direct ou indirect (bug, incompatibilité, virus, perte de marché, etc.).</p>

<h3>5. Propriété intellectuelle et contenu du site Internet</h3>

<p>Le contenu rédactionnel du site web <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> appartient exclusivement à <strong>Guillaume SAINTHILLIER</strong>. Toute violation des droits d’auteur est sanctionnée par l’article L.335-2 du Code de la Propriété Intellectuelle, avec une peine encourue de 2 ans d’emprisonnement et de 150 000€ d’amende</p>

<p>Le site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> ne pourra être mis en cause en cas de propos injurieux, à caractère raciste, diffamant ou pornographique, échangés sur les espaces interactifs. La société se réserve également le droit de supprimer tout contenu contraire aux valeurs de l'entreprise ou à la législation applicable en France.</p>

<p>En naviguant sur le site <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a>, l'utilisateur accepte également l'installation de cookies éventuelle sur son ordinateur.</p>

<h3>6. Données personnelles, respect de votre vie privée et de vos libertés</h3>

<p>Toute informations recueillie sur le site web <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> se font dans le cadre des besoins liés à l'utilisation de notre plateforme, tels que le formulaire de commande ou la demande d'inscription à la Newsletter. Par ailleurs, le désabonnement de la Newsletter se fait grâce au lien situé en pied de page.<br />
    <strong>Guillaume SAINTHILLIER</strong> s'engage à ne céder en aucun cas les informations concernant les utilisateurs du site Internet, de quelque façon qu'il soit (vente, échange, prêt, location, don).</p>

<p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, l’utilisateur bénéficie d’un droit d’accès et de rectification aux informations le concernant, droit qu’il peut exercer à tout moment en adressant un mail à l’adresse <a href="mailto:guillaume@sainthillier.fr">guillaume@sainthillier.fr</a>, ou en effectuant sa demande par courrier, à l’adresse suivante : Toulouse, France.</p>



<h3>7. Droit applicable et lois concernées</h3>

<p>Soumis au droit français, le site web <a href="http://sainthillier.fr" title="Guillaume SAINTHILLIER">sainthillier.fr</a> est encadré par la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans l'économie numérique, l’article L.335-2 du Code de la Propriété Intellectuelle et la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004.</p>
</div>
<!-- Fin page mentions légales -->
{% endblock %}