/* Masthead styles */
@layer components {
    header.masthead {
        padding: 80px 0;
        display: flex;
        width: 100%;
        height: 100vh;
        text-align: center;
        color: white;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;

        .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
        }

        .intro-heading {
            font-size: 35px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: var(--font-sans);
        }
    }

    @media (min-width: 576px) {
        header.masthead .intro-heading {
            font-size: 45px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }

    @media (min-width: 768px) {
        header.masthead {
            .intro-lead-in {
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }

            .intro-heading {
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}
