/* Navbar styles */
@layer components {
    #mainNav {
        background-color: var(--color-gray-900);

        .navbar-toggler {
            font-size: 12px;
            right: 0;
            padding: 13px;
            text-transform: uppercase;
            color: white;
            border: 0;
            border-radius: 0.25rem;
            background-color: var(--color-primary);
            font-family: var(--font-sans);
        }

        .navbar-brand {
            max-width: 150px;
            transition:
                max-width 0.3s,
                padding 0.3s;

            svg {
                max-width: 100%;
                height: auto;
            }
        }

        .navbar-collapse {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.35s ease;
        }

        .navbar-collapse.show {
            display: block !important;
            max-height: 500px;
        }

        @media (min-width: 992px) {
            .navbar-collapse {
                max-height: none;
                overflow: visible;
            }
        }

        .nav-link {
            font-size: 90%;
            font-weight: 400;
            padding: 0.75em 0;
            letter-spacing: 1px;
            color: white;
            font-family: var(--font-sans);

            &.active,
            &:hover {
                color: var(--color-primary);
            }
        }
    }

    @media (min-width: 992px) {
        #mainNav {
            padding-top: 25px;
            padding-bottom: 25px;
            transition:
                padding-top 0.3s,
                padding-bottom 0.3s;
            border: none;
            background-color: transparent;

            .navbar-brand {
                max-width: 250px;
            }

            .nav-link {
                padding: 1.1em 1em !important;
            }

            &.navbar-shrink {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                background-color: var(--color-gray-900);
                box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);

                .navbar-brand {
                    max-width: 175px;
                    padding: 12px 0;
                }
            }
        }
    }
}
