/* Portfolio styles */
@layer components {
    #portfolio {
        .portfolio-item {
            box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
            max-width: 400px;
            margin: 0 auto 1rem auto;

            .portfolio-link {
                position: relative;
                display: block;
                cursor: pointer;

                .portfolio-hover {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: all ease 0.5s;
                    opacity: 0;
                    background: rgba(254, 209, 54, 0.9);

                    &:hover {
                        opacity: 1;
                    }

                    .portfolio-hover-content {
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        height: 20px;
                        margin-top: -12px;
                        text-align: center;
                        color: white;

                        svg {
                            margin-top: -12px;
                        }

                        h3,
                        h4 {
                            margin: 0;
                        }
                    }
                }
            }

            .portfolio-caption {
                max-width: 400px;
                margin: 0 auto;
                padding: 25px;
                text-align: center;
                background-color: white;
                border-top: 1px solid rgba(0, 0, 0, 0.04);

                h4 {
                    margin: 0;
                    text-transform: none;
                }

                p {
                    font-size: 16px;
                    font-style: italic;
                    margin: 0;

                    strong {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    @media (min-width: 767px) {
        #portfolio .portfolio-item {
            margin-bottom: 30px;
        }
    }

    /* Portfolio Modal */
    .portfolio-modal {
        padding-right: 0 !important;

        .modal-dialog {
            margin: 1rem;
            max-width: 100vw;
        }

        .modal-content {
            padding: 100px 0;
            text-align: center;

            h2 {
                font-size: 3em;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 30px;
            }

            p.item-intro {
                font-size: 16px;
                font-style: italic;
                margin: 20px 0 30px;
            }

            ul.list-inline {
                margin-top: 0;
                margin-bottom: 30px;
            }

            img {
                box-shadow:
                    0 1px 3px rgba(0, 0, 0, 0.12),
                    0 1px 2px rgba(0, 0, 0, 0.24);
                margin-bottom: 30px;
            }

            button {
                cursor: pointer;
            }

            .modal-description {
                p {
                    text-align: justify;
                }

                ul {
                    text-align: left;
                }
            }
        }

        .close-modal {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 75px;
            height: 75px;
            cursor: pointer;
            background-color: transparent;

            &:hover {
                opacity: 0.3;
            }

            .lr {
                z-index: 1051;
                width: 1px;
                height: 75px;
                margin-left: 35px;
                transform: rotate(45deg);
                background-color: var(--color-gray-900);

                .rl {
                    z-index: 1052;
                    width: 1px;
                    height: 75px;
                    transform: rotate(90deg);
                    background-color: var(--color-gray-900);
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .portfolio-modal .modal-body {
            padding: 0;
        }
    }
}
