/* Utility styles */
@layer components {
    /* Badge */
    .badge {
        display: inline-block;
        padding: 0.4em 0.5em;
        font-size: 0.75em;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.375rem;
    }

    .badge-secondary {
        background-color: var(--color-gray-600);
        color: white;
    }

    /* Alert */
    .alert {
        position: relative;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.375rem;
    }

    .alert-success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
    }

    .alert-danger {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
    }

    .alert-dismissible {
        padding-right: 3rem;
    }

    .alert-dismissible .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 1.25rem 1rem;
    }

    .btn-close {
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: 0.25em;
        color: black;
        background: transparent
            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
            center / 1em auto no-repeat;
        border: 0;
        border-radius: 0.375rem;
        opacity: 0.5;
        cursor: pointer;
    }

    .btn-close:hover {
        opacity: 0.75;
    }

    /* Fade transition */
    .fade {
        transition: opacity 0.15s linear;
    }

    .fade:not(.show) {
        opacity: 0;
    }

    /* List styles */
    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .list-inline {
        padding-left: 0;
        list-style: none;
    }

    .list-inline-item {
        display: inline-block;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }

    /* Hello section */
    #hello {
        @media (max-width: 575.98px) {
            img {
                width: 250px;
                height: 250px;
                margin-bottom: 1.5rem;
            }
        }
    }

    /* Images */
    img.blur-up {
        filter: blur(5px);
        transition: filter 200ms;

        &.lazyloaded {
            filter: none;
        }
    }
}

/* YouTube embed */
lite-youtube {
    max-width: 720px;
}
