{% extends "GuyAdminBundle::layout.html.twig" %}

{% block guy_admin_titre %}Tous{% endblock %}

{% block guy_admin_content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Compétences</h3>
            {% include "GuyAdminBundle:Blocks:block_list_competences.html.twig" with({'competences': competences}) %}
        </div>
        <div class="col-md-6">
            <h3>Réalisations</h3>
            {% include "GuyAdminBundle:Blocks:block_list_realisations.html.twig" with({'realisations': realisations}) %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Formations</h3>
            {% include "GuyAdminBundle:Blocks:block_list_formations.html.twig" with({'formations': formations}) %}
        </div>
        <div class="col-md-6"> 
            <h3>Expériences</h3>
            {% include "GuyAdminBundle:Blocks:block_list_experiences.html.twig" with({'experiences': experiences}) %}
        </div>
    </div>
{% endblock %}