{{ $image := resources.Get "images/guillaume-sainthillier.jpg" }}
{{ $imageProcessed := $image | resources.Fingerprint "sha256" }}
<script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "person",
        "name": "Guillaume Sainthillier",
        "jobTitle": "Développeur Web Freelance à Toulouse",
        "gender": "male",
        "url": {{ "" | absURL }},
        "sameAs": [
            "https://www.youtube.com/watch?v=JjeguKaXutw",
            "https://silarhi.fr",
            "https://g.page/silarhi?share",
            {{ .Site.Params.Social.linkedin }},
            {{ .Site.Params.Social.github }},
            {{ partial "pdf-url.html" (dict "path" "pdf/CV-SAINTHILLIER-Guillaume.pdf" "abs" true) }},
            "https://stackoverflow.com/users/7652866/guillaume-sainthillier"
        ],
        "image": {{ $imageProcessed.Permalink | absURL }},
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "116 Route d'Espagne",
            "postOfficeBoxNumber": "BAL 411 - BAT 113",
            "addressLocality": "Toulouse",
            "addressRegion": "Occitanie",
            "postalCode": "31100",
            "addressCountry": "France"
        },
        "email": "hello@silarhi.fr"
    }
</script>
{{ $logo := resources.Get "images/logo.png" }}
{{ $logoProcessed := $logo | resources.Fingerprint "sha256" }}
<script type='application/ld+json'>
    {
        "@context": "http://www.schema.org",
        "@type": "LocalBusiness",
        "name": "Silarhi",
        "description": {{ .Site.Params.description }},
        "email": "hello@silarhi.fr",
        "foundingDate": "2018-08-03",
        "url": {{ "" | absURL }},
        "sameAs": [
            "https://silarhi.fr",
            "https://www.youtube.com/watch?v=JjeguKaXutw",
            "https://github.com/silarhi",
            "https://www.linkedin.com/company/silarhi"
        ],
        "logo": {{ $logoProcessed.Permalink | absURL }},
        "image": {{ $logoProcessed.Permalink | absURL }},
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "116 Route d'Espagne",
            "postOfficeBoxNumber": "BAL 411 - BAT 113",
            "addressLocality": "Toulouse",
            "addressRegion": "Occitanie",
            "postalCode": "31100",
            "addressCountry": "France"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "43.5706004",
            "longitude": "1.4210176"
        },
        "hasMap": "https://g.page/silarhi?share",
        "openingHours": "Mo 09:00-19:30 Tu 09:00-19:30 We 09:00-19:30 Th 09:00-19:30 Fr 09:00-19:30",
        "isAccessibleForFree": false,
        "currenciesAccepted": "EUR",
        "paymentAccepted":"Virement bancaire",
        "priceRange": "$$",
        "telephone": "+33607275826"
    }
</script>

