{{ define "menu" }}
<a class="navbar-brand" href="/">Guillaume Sainthillier</a>
{{ end }}

{{- define "layout-class" -}}layout-page{{- end -}}

{{ define "main" }}
<section class="bg-light">
    <div class="container">
        <h1>404</h1>
        <h2 class="h4 mt-0 mb-4">Mince ! Vous êtes perdu.</h2>
        <p class="text-muted">La page que vous demandez est introuvable. Elle a peut-être été supprimée ou déplacée.</p>
        <a href="{{ "/" | relURL }}">Retour à la page d'accueil</a>
    </div>
</section>
{{ end }}