{% extends "GuyAdminBundle:Experience:base.html.twig" %}

{% block guy_admin_titre_experience %}{{ experience.nom|raw }}{% endblock %}

{% block boutton %}
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Modifier</button>
{% endblock %}