name: Lint and Format

on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]

jobs:
    lint-and-format:
        name: ESLint and Prettier
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '24'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile

            - name: Run ESLint
              run: yarn lint

            - name: Run Prettier
              run: yarn format

            - name: Run Knip
              run: yarn knip
